.wrap-information{
    margin: 30px;
    border: 1px solid black ;
    flex: 1;
}

.accessories{
    text-align: center;
    line-height: 70px;
    background-color: var(--green-color);
    border-bottom: 1px solid black;
    font-weight:bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.information-accessories{
    padding: 10px;
    font-weight: 600;
}

.accessories-box{
    height: 50%;
    display: flex;
    border: 1px solid black;
    margin: 10px 5px;
    border-radius: 5px;
}

.accessories-col1{
    width: 45%;
}

.col1-list{
    list-style: none;
}

.col1-item{
    margin: 15px;
}

.col1-item-input{
    width: 70%%;
}

.code-label{
    padding-bottom: 5px;
    display: flex;
    min-width: 20%;
}

.accessories-function{
    display: flex;
    justify-content: space-around;
    
}

.button-function{
    background-color: aqua;
    width: 10%;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
}
.button-function:hover{
    background-color: red;
    cursor: pointer;
}
