.information{
    border: 1px solid black;
    flex: 1;
    margin-right: 40px;
}

.tittle{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.round-content{
    margin-bottom: 10px;
}

.displaytable{
    padding: 10px;
    margin: auto;
    width: 90%;
}



