
table,
th,
td {
    border: 1px solid;
    text-align: center;
    padding: 15px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 20px;
}

.add-button {
    display: inline;
    margin: 20px;
    font-size: 20px;
    background-color: #1D5DBC;
    padding: 15px;
    border-radius: 5px;
    
}
.add-button-link {
    text-decoration: none;
    color: white;
    font-weight: 500;

}

.insert-button, .delete-button{
    padding: 5px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
}

.insert-button{
    background-color: #37CA41;
    color: rgb(3, 11, 9);
}

.delete-button{
    background-color: #DF1523;
    color: #000000;
}

