
/* container-information */
.information {
    flex: 1;
    border: 2px solid #494545;
    margin-right: 40px;
    margin-bottom: 50px;
}

.information-content{
    margin-left: 10px;
}
.tittle {
    text-align: center;
    padding-top: 10px;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 20px;
}

.content-item {
    list-style: none;
    padding: 5px;

}

.content-header {
    display: inline-block;
}

.content-item-link {
    color: black;
    font-size: 20px;
}


