body {
    box-sizing: border-box;
    width: 100%;
}

/* container-information */
.information {
    flex: 1;
    border: 2px solid #494545;
    margin-right: 40px;
    margin-bottom: 50px;
}

.information-content{
    margin-left: 10px;
}
.tittle {
    text-align: center;
    padding-top: 10px;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 20px;
}

.content-item {
    list-style: none;
    padding: 5px;

}

.content-header {
    display: inline-block;
}

.content-item-link {
    color: black;
    font-size: 20px;
}

/* css footer */
.footer {
    height: 20%;
}

.activity {
    border-bottom: 3px solid black;
    display: inline;
}

.footer-content {
    display: flex;

}

.footer-user {
    width: 25%;
}

.rate {
    display: flex;
    flex: 1;
    justify-content: center;
}

.rating {
    display: block;
}

.rating:hover {
    color: gold;
    transition: right ease 1s;
    cursor: pointer;
}

.footer-end {
    color: var(--primary-color);
    display: block;
    background-color: var(--primary-color);
}